/* charset="UTF-8" */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.lf{
    float: left;
}
.rf{
    float: right;
}
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
    }
    
.rotation{
-webkit-transform: rotate(360deg);
animation: rotation 1s linear infinite;
-moz-animation: rotation 1s linear infinite;
-webkit-animation: rotation 1s linear infinite;
-o-animation: rotation 1s linear infinite;
}
body{
    font-family: Microsoft YaHei;
    font-size: 14px;
}
.header{
    border-bottom: 1px solid #e6e6e6;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    background: #000;
}
.head-cont{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
.head-logo h1{
    display: none;
}
.head-logo span{
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 5px;
    color: #bdabab;
}
.head-logo strong{
    color: #fff;
    font-size: 18px;
}
.return-index{
    font-size: 16px;
}
.return-index a:hover strong{
    color: #c7723b;
}
table {
    width: 100%;
    font-size: .938em;
    border-collapse: collapse;/*边框会合并为一个单一的边框*/
}
th {
    padding: .5em .5em;
    font-weight: bold;
    background: #66677c;color: #fff;
}

td {
    padding: .5em .5em;
    border-bottom: solid 1px #ccc;
    text-align: center;
}
table,table tr th, table tr td { border:1px solid #0094ff; }
table select{
    border: 1px solid #eee;
    margin-right: 5px;
}
#add-time {
    padding: 2px 5px;
    font-size: 12px;
    height: auto;
    margin-top: 5px;
    background: #c9c382;
    color: #fff;
    border-radius: 3px;
}
#modal-member{
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 360px;
    width: 90%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 0 8px rgba(33, 28, 28, 0.17);
    padding: 30px 0;
    z-index: 1000;
    display: none;
}
#modal-member button{
    width: 40%;
    background: #c7723b;
    color: #fff;
    height: 30px;
    margin: 0 4%;
    border: 0;
    border-radius: 3px;
}
.head-user span{
    cursor: pointer;
    display: inline-block;
    padding: 0 15px;
    background: #f2f2f2;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.09);
    position: relative;
}
.head-user span a{
    color: #333;
}
.head-user span:hover, .head-user span a:hover{
    color: rgb(99, 83, 83);
}
.head-user span:active,.head-user span:active a{
    background: #000;
    color: #fff;
}
.head-user .refresh{
    border-radius: 50%;
    /* padding: 0 5px; */
    position: relative;
    width: 30px;
}
.head-user .refresh img{
    width: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
} 
.search{
    background: #f2f2f2;
    padding: 30px 10px;
}
.search .search-cont,.search .notice{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
.search .search-cont{
    display: flex;
}
.search .search-cont input{
    padding: 0 5px;
    border: 1px solid #e5e6e7;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.09);
    width: 80%;
    height: 40px;
}
.search .search-cont input:focus {
    outline:none;
    border: 1px solid rgba(47, 250, 108, 0.09);
    box-shadow: 0 0 10px rgba(47, 250, 108, 0.18);
}    
.search .search-cont button{
    padding: 0 5px;
    border: 1px solid #e5e6e7;
    background: #dbddde;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.09);
    outline: none;
    width: 20%;
    height: 40px;
    cursor: pointer;
    font-size: 14px;
}
.search .search-cont button:hover{
    color: rgb(103, 98, 98);
}
.search .search-cont button:active{
    background: #ccc;
    color: #fff;
}
.search .notice{
    height: 20px;
    line-height: 25px;
    overflow: hidden;
    position: relative;
}
.search .notice #notice-cont{
    position: absolute;
    top: 0;
    right: 0;
    left: 22px;
    transition: all 0.8s;
}
.search .notice p{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fb0c0c;
}
.search .notice::before{
    content: '';
    background-image: url('../img/notice.png');
    background-repeat: no-repeat;
    background-size: 16px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 5px;
}
.bodyer{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 5px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5%;
}
.list a{
    display: block;
    width: 24%;
    margin: 0.6% 0.5%;
    padding-bottom: 30px;
    border: 1px solid #eee;
    position: relative;
    overflow: hidden;
}
.list a > div{
    height: 184px;
    display: flex;
    align-items: center;
}
.list a.no-more{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.list a img{
    width: 100%;
    height: 100%;
}
.list a .list-title{
    display: block;
    background: #fff;
    width: 100%;
    color: #666;
    font-weight: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    max-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    /* -webkit-transition: max-height .25s; */
    /* transition: all .25s; */
}
.list a:hover{
    border: 1px solid rgb(231, 230, 230);
    box-shadow: 0 0 10px rgba(4, 4, 4, 0.25);
}
.list .list-title:hover{
    max-height: 65px;
    white-space: normal;
}
.list a .list-title strong{
    font-weight: normal;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.recommend{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #f2f2f2;
}
.recommend.detail{
    border: 0;
}
.recommend h3{
    background: #f1efef;
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: normal;
}
.recommend li{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recommend li:nth-child(even){
    background:#f9f9f9;
}
.recommend li a {
    color: #6f6b6b;
}
.recommend li a:active, .recommend li a:hover{
    color: #f07d7d;
}
.recommend li a span{
    color: #333;
}
.footer{
    /* padding: 50px 0;*/
    margin-top: 20px; 
    line-height: 40px;
    border-top: 1px solid #f2f2f2;
    /* background: #f1f1f1; */
    text-align: center;
    background: #fff;
}
.footer a{
    color: #c73b3b;
}
.page{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    background: #fff7f7;
}
.page span, .page a{
    display: inline-block;
    padding: 5px 15px;
    margin: 0 2px;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.09019);
    border-radius: 2px;
}
.page span, .page a.active{
    color: #828181;
}
.page span.current-page{
    border: 0;
    background: none;
    color: #666;
    box-shadow: none;
    font-size: 14px;
}
.page a{
    color: #000;
}
.page a:hover{
    color: #f07d7d;
}
/* 登入框 */
.mask{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background: rgba(63, 63, 63, 0.25);
    display: none;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 420px;
    width: 90%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 0 80px rgba(33, 28, 28, 0.13);
    padding: 30px 3%;
    z-index: 1000;
    border-radius: 2px;
    display: none;
}
.modal-tite{
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background: linear-gradient(to right, rgb(250, 4, 4), rgb(5, 5, 248));
    letter-spacing: 2px;
    -webkit-background-clip: text;
    color: transparent;
}
.modal-body input{
    height: 40px;
    border: 1px solid #e5e6e7;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.09);
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    outline: none;
}
.modal-body input:focus {
    outline:none;
    border: 1px solid rgba(47, 250, 108, 0.09);
    box-shadow: 0 0 10px rgba(47, 250, 108, 0.18);
}  
.modal-foot button{
    width: 100%;
    border-radius: 3px;
    height: 40px;
    background: #c7723b;
    background: linear-gradient(to right, rgb(245, 66, 66), rgb(61, 61, 248));
    border: 0;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 0 3px rgba(37, 36, 36, 0.14);
    margin-top: 30px;
    margin-bottom: 10px;
    outline: none;
}
.modal-foot button:active{
    background: linear-gradient(to right, rgb(236, 50, 50), rgb(48, 48, 228));
}
.modal-foot p{
    text-align: center;
    font-size: 14px;
}
.modal-foot p span{
    cursor: pointer;
}
.mobal-search{
    display: none;
}
.modal .close{
    position: absolute;
    top: 8px;
    right: 20px;
    color: rgba(255, 0, 0, 0.934);
    background: linear-gradient(to right, rgb(250, 4, 4), rgb(5, 5, 248));
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}
.test-look{
    position: fixed;
    top: -10px;
    left: 50%;
    max-width: 400px;
    width: 90%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 0 20px rgba(33, 28, 28, 0.2);
    border: 1px solid #f1f1f1;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: all 0.6s;
}
.test-body{
    line-height: 120px;
    color: rgb(221, 3, 3);
    font-weight: 600;
}
.test-foot{
    border-top: 1px solid #eee;
    padding: 20px 0;
}
.test-look button{
    padding: 5px 20px;
    background: #fff;
    border: 1px solid #e5e6e7;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.09);
    margin: 0 10px;
}
.test-look button:active{
    background: #eee;
}
video{background:#000;width:100%;padding:30px;}
iframe{
    width: 100%;
    border: 0;
}
.detail h2{
    padding: 10px 0;
}
.mine {
    background: #f2f2f2;
    /* max-width: 100%;
    width: 100%;
    margin: 0 auto; */
}
.mine .info{
    background: #fff;
    padding: 5px 10px;
    max-width: 960px;
    margin: 10px auto 0;
    line-height: 30px;
}
.mine .info span{
    display: inline-block;
    width: 40%;
}
.mine .info #user-total{
    width: 70%;
}
.mine .info #user-total font{
    color: rgb(165, 62, 62);
}
.mine .info a{
    color: #0ed815;
}
.mine .info a:hover{
    color: #057209;
}
.mine .info span.label{
    width: 30%;
    color: #666;
}
.mine .tab-menu{
    max-width: 970px;
    margin: 0 auto 10px;
    text-align: center;
    padding: 10px 5px 0;
}
.mine .tab-menu a{
    display: inline-block;
    width: 49%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #f07d7d;
    color: #fff;
    border-radius: 3px;
}
.mine .tab-menu a.shuoming{
    margin-right: 1%;
}
.mine .tab-menu a.chongzhi{
    margin-left: 1%;
}
.mine .tab-menu a:active{
    background: #c73b3b;
}
.mine .tab-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.mine .tab-list > div{
    width: 50%;
    padding: 6px;
}
.mine .er{
    line-height: 30px;
}
.mine .er .chongzhi{
    text-align: center;
}
.mine .er .chongzhi img{
    max-width: 260px;
    width: 100%;
}
.service{
    display: flex;
    height: 35px;
    align-items: center;
}
.service img, .service a{
    float: left;
}
.step{
    border-top: 1px solid rgb(235, 235, 235);
    line-height: 25px;
    padding-top: 5px;
    margin-top: 5px;
    color: rgb(54, 54, 54);
    display: none;
}

.tip-money{
    margin: 0 auto;
    line-height: 30px;
}
.tip-money span{
    font-weight: normal;
    color: #565555;
}
.agent{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    line-height: 30px;
}
.kefu{
    position:fixed;
    bottom:0;
    left:0;
    height:40px;
    line-height:40px;
    background:rgba(0, 0, 0, 0.65);
    width:100%;
    padding: 0 5px;
}
.kefu .kefu-cont{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.kefu .kefu-cont * {
    float: left;
    color: #fff;
}
.kefu img{
    margin-top: 8px;
    margin-left:8px;
    margin-right: 5px;
}
.kefu .logo_img{
    margin-top: 10px;
    margin-right: 8px;
    margin-left: 15px;
}
@media (max-width:600px) {
    .header{
        height: 45px;
        line-height: 45px;
    }
    .head-user span{
        height: 25px;
        line-height: 25px;
        padding: 0 8px;
        margin-top: 9px;
        font-size: 12px;
    }
    .head-user span.refresh{
        width: 25px;
    }
    .head-user span.refresh img{
        width: 19px;
        left: 3px;
        top: 3px;
    }
    .head-logo a span{
        display: none;
    }
    .head-logo strong{
        font-size: 16px;
    }
    .search{
        padding: 15px 5px;
    }
    .search .search-cont input, .search .search-cont button{
        height: 35px;
    }
    .search .notice p{
        font-size: 12px;
    }
    .list a{
        width: 49%;
        font-size: 12px;
        margin: 1.5% 0.5%;
    }
    .list a > div{
        height: 120px;
    }
    video{padding: 2px;}
    .page .current-page{
        width: 100%;
        margin: 0;
    }
    .page a, .page span{
        padding: 3px 10px;
    }
    .recommend h3{
        font-size: 14px;
    }
    .recommend li a{
        font-size: 12px;
    }
    .modal{
        padding: 20px 3%;
    }
    .modal-body input {
        margin-top: 10px;
    }
    .modal-foot button {
        margin-top: 20px;
    }
    .detail h2{
        padding: 5px 0;
        font-size: 14px;
    }
    #mr-top{
        margin-top: 400px;
    }
    .mine .tab-list > div{
        width: 100%;
    }
    .mine .tab-list .er{
        border-top: 1px solid rgb(227, 226, 226);
    }
    .step{
        display: block;
    }
    .tip-money{
        line-height: 25px;
    }
    .service{
        display: none;
    }
}